* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: customformat, serif;
}

body {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background: white linear-gradient(to right, #F4F4F8, #007bff);
    border-radius: 30px;
    box-shadow: 0 5px 15px #090C08;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.picture i {
    font-size: 48px;
    color: white;
}

.user-info, .posts {
    margin-bottom: 20px;
}

.user-info h3 {
    margin-bottom: 5px;
}

.user-info p {
    margin-bottom: 5px;
}

.posts .post {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.post p {
    margin-bottom: 5px;
}

.post-time {
    font-size: 12px;
    color: #888;
}