<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConnectSphere</title>
    <link rel="stylesheet" type="text/css" href="/css/home-style.css">
    <link rel="stylesheet" type="text/css" href="/css/header-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="header">
        <div class="logo-and-title-container">
            <div class="header-logo">
                <img src="/logobeta.png" alt="logo.png"/>
            </div>
            <h2><a href="/home" class="header-link">ConnectSphere</a></h2>
        </div>
        <div class="buttons-container">
            <div class="button"><a href="profile"><i class="fa-regular fa-user"></i></a></div>
            <div class="button"><a href="#"><i class="fa-regular fa-message"></i></a></div>
            <div class="button"><a href="logout"><i class="fa-solid fa-right-from-bracket"></i></a></div>
            <div class="button"><a href="settings"><i class="fa-solid fa-gear"></i></a></div>
        </div>
    </div>

    <main>
        <form id="postForm" method="post" action="/home/addPost">
            <label for="postContent"></label>
            <textarea id="postContent" name="content" placeholder="How are you?" rows="4"></textarea>
            <button type="submit" name="submit">Post</button>
        </form>

        <section id="postArea" th:data-username="${loggedInUser.name}">
            <div class="post" th:each="post : ${posts}">
                <div class="post-content" th:text="${post.content}"></div>
                <div class="post-time" th:text="${post.createdAt}"></div>
                <div class="post-user" th:text="${post.user.name}"></div>
            </div>
        </section>
    </main>

    <script src="/scripts/homeScript.js"></script>
</body>
</html>