<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConnectSphere</title>
    <link rel="stylesheet" type="text/css" href="/css/home-style.css">
</head>
<body>
    <div class="header">
        <div class="logo-and-title-container">
            <div class="header-logo">
                <img src="/logobeta.png" alt="logo.png"/>
            </div>
            <h2><a href="home.html" class="header-link">ConnectSphere</a></h2>
        </div>
        <div class="buttons-container">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
        </div>
    </div>

    <main>
        <form id="postForm">
            <label for="postContent"></label>
            <textarea id="postContent" placeholder="How are you?" rows="4"></textarea>
            <button type="submit">Post</button>
        </form>

        <section id="postArea">
            <div class="post" th:each="post : ${posts}">
                <div class="post-content" th:text="${post.content}"></div>
                <div class="post-time" th:text="${post.createdAt}"></div>
            </div>
        </section>
    </main>

    <script src="/scripts/homeScript.js"></script>
</body>
</html>