<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConnectSphere</title>
    <link rel="stylesheet" type="text/css" href="../static/css/header-style.css">
</head>
<body>
    <div class="header">
        <div class="logo-and-title-container">
            <div class="header-logo">
                <img src="/logobeta.png" alt="logo.png"/>
            </div>
            <h2><a href="login.html" class="header-link">ConnectSphere</a></h2>
        </div>
        <div class="buttons-container">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
        </div>
    </div>
</body>
</html>