<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConnectSphere</title>
    <link rel="stylesheet" type="text/css" href="/css/post-style.css">
    <link rel="stylesheet" type="text/css" href="/css/header-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<div class="header">
    <div class="logo-and-title-container">
        <div class="header-logo">
            <img src="/logobeta.png" alt="logo.png"/>
        </div>
        <h2><a href="/home" class="header-link">ConnectSphere</a></h2>
    </div>
    <div class="buttons-container">
        <div class="button"><a href="profile"><i class="fa-regular fa-user"></i></a></div>
        <div class="button"><a href="#"><i class="fa-regular fa-message"></i></a></div>
        <div class="button"><a href="logout"><i class="fa-solid fa-right-from-bracket"></i></a></div>
        <div class="button"><a href="settings"><i class="fa-solid fa-gear"></i></a></div>
    </div>
</div>
</body>
</html>