<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConnectSphere</title>
    <link rel="stylesheet" type="text/css" href="/css/profile-style.css">
    <link rel="stylesheet" type="text/css" href="/css/header-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<div class="header">
    <div class="logo-and-title-container">
        <div class="header-logo">
            <img src="/logobeta.png" alt="logo.png"/>
        </div>
        <h2><a href="/" class="header-link">ConnectSphere</a></h2>
    </div>
    <div class="buttons-container">
        <div class="button"><a href="profile"><i class="fa-regular fa-user"></i></a></div>
        <div class="button"><a href="#"><i class="fa-regular fa-message"></i></a></div>
        <div class="button"><a href="#"><i class="fa-regular fa-bell"></i></a></div>
        <div class="button"><a href="settings"><i class="fa-solid fa-gear"></i></a></div>
    </div>
</div>
<div class="container">
    <div class="picture"><i class="fa-solid fa-user"></i></div>
    <div class="user-info">
        <h3>User Information</h3>
        <p><strong>Username: </strong><span th:text="${loggedInUser.name}"></span></p>
        <p><strong>Email: </strong><span th:text="${loggedInUser.email}"></span></p>
        <p><strong>Total Posts: </strong><span th:text="${#lists.size(posts)}"></span></p>
    </div>
    <div class="posts">
        <h3>User Posts</h3>
        <div class="post" th:each="post : ${posts}">
            <p><span th:text="${post.content}"></span></p>
            <span class="post-time" th:text="${post.createdAt}"></span>
        </div>
    </div>
</div>
<script src="/scripts/profileScript.js"></script>
</body>
</html>